/* Buttons */
button {
  font-size: 16px;
  border: transparent;
  cursor: pointer;
  letter-spacing: 0.05em;
}

.btn-primary {
  border-radius: var(--radius-2);
  color: #ffffff;
  background: var(--accent);
  padding: var(--space-1) var(--space-3);
}

.btn-primary:hover {
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-name: hover-fade;
  opacity: 0.8;
}

.btn-secondary {
  background: transparent;
  color: rgba(92, 92, 92, 0.5);
  padding: 6px;
  line-height: 1;
}

.btn-secondary:hover {
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-name: hover-fade;
  opacity: 0.8;
}

/* Animations */

@keyframes hover-fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.8;
  }
}
