.timer-settings {
  display: flex;
  gap: 1rem;
}

.timer-settings-unit {
  display: flex;
  flex-direction: column;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.timer-settings-label {
    font-size: 0.5rem;
}