.timer-settings {
  display: flex;
  flex-direction: column;
}

.timer-settings-row {
  display: flex;
  gap: 1rem;
}

.timer-settings-unit {
  display: flex;
  flex-direction: column;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.timer-settings-label {
    font-size: 0.5rem;
}

.timer-settings-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.timer-settings-box {
  background-color: white;
  margin: auto;
  margin-top: 16.5rem;
  padding: 8px;
}