.wave-container {
  position: fixed;
  bottom: 100px;
  width: 100%;
  overflow: hidden;
  animation: waveBob 3s ease-in-out infinite;
}

.wave-track {
  display: flex;
  width: 200%;
  animation: waveMove 20s linear infinite;
}

/* .wave-track.idle {
  animation-duration: 20s;
}

.wave-track.running {
  animation-duration: 8s;
} */

.wave {
  width: 100%;
  height: 80px;
}

@keyframes waveBob {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes waveMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
